.header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    border-bottom: 2px solid rgb(243, 243, 243);
    // background-color: #eedaff;
    
    .left{
        // border: 2px solid gray;
        // border-radius: 25px;
        padding: 25px;

        img{
            width: 100px;
        }
    }
    .right{
        ul{
            display: flex;
            align-items: flex-end;
            li{
                margin: 5px;
            }
        }
    }
    
}