<div class="header">
   <div class="left cursor-pointer">
        <span class="font-bold text-2xl " routerLink="/">
            <img src="../../../assets/icons/logo.png" alt="">
        </span>
   </div>

   <div class="right">
    <ul>

        <li *ngIf="userService.isAdmin()" class="menu-item has-children">
            <app-button class="mt-5" routerLink="/admin/liste-product" [clear]="true" label="Liste des Produits"></app-button>
        </li>
        

        <li *ngIf="userService.isAdmin()" class="menu-item has-children">
            <app-button class="mt-5" routerLink="/admin/new-product" [clear]="true" label="Ajout des produits"></app-button>
        </li>
        
        <li *ngIf="userService.isAdmin()" class="menu-item has-children">
            <app-button class="mt-5" routerLink="/admin/liste-clients" [clear]="true" label="Liste des clients"></app-button>
        </li>

        <li *ngIf="userService.isAdmin()" class="menu-item has-children">
            <app-button class="mt-5" routerLink="/admin/orders" [clear]="true" label="Liste des commandes"></app-button>
        </li>

        <li *ngIf="!userService.isAuth()" class="menu-item has-children">
            <app-button class="mt-5" routerLink="/login" [clear]="true" label="Se connecter"></app-button>
        </li>

        <li *ngIf="userService.isAuth() && !userService.isAdmin()" class="menu-item has-children">
            <app-button class="mt-5" routerLink="/my-orders" [clear]="true" label="Activité"></app-button>
        </li>

        <li *ngIf="userService.isAuth() && !userService.isAdmin()" class="menu-item has-children">
            <app-button class="mt-5" routerLink="/profile" [clear]="true" [label]="'Mon compte | ' + userService.user!.username"></app-button>
        </li>

        

        <li class="menu-item has-children" *ngIf="!userService.isAdmin()">
            <span routerLink="/cart">
                <div class="bg-white rounded-full border-slate-300 border text-center w-12 h-12 p-3 cursor-pointer flex">
                    <img src="{{cartIcon}}"/>
                    <span>{{cartService.count()}}</span>
                </div>
            </span>
        </li>

        <li *ngIf="userService.isAuth()" class="menu-item has-children">
            <span (click)="logout()">
                <div class="bg-white rounded-full border-slate-300 border text-center w-12 h-12 p-3 cursor-pointer">
                    <img src="../../../assets/icons/logout.png"/>
                </div>
            </span>
        </li>
    </ul>
</div>
</div>

