<div id="u">
    <div class="i">
          <h1>Produits</h1>
          <button>Ajout produit</button>
    </div>
    <div class="d">
      <ul>
          <li>
              <img class="picture" src="/Users/trini/Desktop/projet angular/picture.png">
              <br>
              <span class="n">NOM</span>
              <span class="e">£</span><br>
              <a class="e2"><img class="pencil" src="/Users/trini/Desktop/projet angular/delete.png"></a>
              <a class="e1" ><img class="pencil" src="/Users/trini/Desktop/projet angular/pencil.png"></a>
          </li>
        

      </ul>
    </div>

</div>