<div id="u">
    <div class="i">
          <h1>Produits</h1>
          <button ><a routerLink="/Ajout">Ajout produit</a></button>
    </div>
    <div class="d">
      <ul *ngFor="let produit of pro">
          <li>
              <img class="picture" src="{{produit.image}">
              <br>
              <span class="n">{{produit.designation}}</span>
              <span class="e">{{produit.prixunitaire}}</span><br>
              <a class="e2"><img class="pencil" src="../../../../assets/icons/delete.png"></a>
              <a class="e1" ><img class="pencil" src="../../../../assets/icons/pencil.png"></a>
          </li>
        

      </ul>
    </div>

</div>