<!--<p>footer works!</p>-->
<div class="footer">
  <div class="footer__columns">
    <div class="footer__products">
      <h3>BOUTIQUE</h3>

      <ul>
        <li><a href=""> Tous les produits</a></li>
        <li><a href=""> Livraisons et retours</a></li>
      </ul>
    </div>

    <div class="footer__addresse">
      <h3>ADRESSE</h3>
      <div class="marge">
        xx, rue xxxx<br />
        21000 Dijon, France<br />
      </div>
    </div>

    <div class="footer__time">
      <h3>HORRAIRES D'OUVERTURE</h3>
      <table>
        <div class="marge">
          <tr>
            <td>Mardi 9:00 - 18:00</td>
          </tr>
          <tr>
            <td>Mercredi 9:00 - 18:00</td>
          </tr>
          <tr>
            <td>Jeudi 9:00 - 18:00</td>
          </tr>
          <tr>
            <td>Vendredi 11:00 - 20:00</td>
          </tr>
          <tr>
            <td>Samedi 11:00 - 20:00</td>
          </tr>
        </div>
      </table>
    </div>

    <div class="footer__contact">
      <h3>CONTACT</h3>
      <div class="app-logo">
        <a href=""><img src="../../../assets/icons/facebook.png" alt="" /></a>
        <a href=""><img src="../../../assets/icons/instagram.png" alt="" /></a>
        <a href=""><img src="../../../assets/icons/mail.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>
