#img{
    width: 503px;
    height: 344px;
    border-radius: 17px;
    min-height: 50vh;

}

#main{
    background: rgba(239, 239, 239, 0.42);
    border-radius: 17px;
}

#name{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;

color: #000000;
}

p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

width: 600px;
}