<div class="list-commandes">
    <h1 class="list-commandes__title">Commandes</h1>
    <div class="card" *ngFor="let order of ordersList" [routerLink]="[link, order.id]">
        <app-icon-square [height]=85 [width]=82 [icon]="icon"></app-icon-square>
        <div class="card-information">
            <h2 class="card-information__id">Commande #{{order.id}}</h2>
            <p class="card-information__date">{{order.date}}</p>
            <p class="card-information__state">{{order.state}}</p>
        </div>
        <div class="right-chevron">
            <img src="../../../assets/icons/right-chevron.png" />
        </div>
    </div>

    <div class="flex justify-center font-bold no-results" *ngIf="ordersList.length == 0" >
        <img src="../../../assets/icons/no-results.png" alt="" />
        Il n'y a pas de commandes
    </div>
</div>

