<div class="detail">
    <div class="detail-header">
        <h1 class="detail-header__title">Commande #{{orderId}}</h1>
        <h1 class="detail-header__total">Total: <span>€{{total}}</span></h1>
    </div>
    <p class="detail-header__state" [ngClass]="productsOrder[0].order.state.charAt(0)">{{productsOrder[0].order.state}}</p>
    <div class="detail-info" *ngFor="let ol of productsOrder">
        <img class="detail-info__image" src="{{ol.product.image}}">
        <div class="detail-info__main">
            <p class="detail-info__name">{{ol.product.designation}}</p>
            <p class="detail-info__price">€{{ol.product.prixunitaire}}</p>
        </div>
        <p class="detail-info__quantity">Quantité<br><span>{{ol.quantity}}</span></p>
        <p class="detail-info__price-product">€{{ol.product.prixunitaire * ol.quantity}}</p>
    </div>
    <div class="detail-actions">
        <button class="detail-actions__return" (click)="goBack()">Retour</button>
        <button [disabled]="disabledButton" class="detail-actions__cancel" (click)="changeOrderState()">Annuler Commande</button>
    </div>
</div>