<p>login-page works!</p>

<div id="container" width="20%">
    <h1>Hi Welcome Back!</h1>
     <h3>Login Here</h3>
      <form  [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <label for="username">username:</label>

          <input  formControlName="username" type="text" placeholder="Entrer le nom d'utilisateur" required >
          <label for="password">Password:</label>
      
          <input  formControlName="password" type="password" placeholder="Entrer le mot de passe"  required >
        </div>
        <div>

        <button>Submit</button>
        <input type="submit" id='submit' value='LOGIN' (click)="login()" >
        <span>Don't have an account? <a routerLink="/signup2">signUp</a></span>
    </div>  
    </form>
 





 



 





