<div class="t">

    <div class="i">
  
        <form #f="ngForm" (ngSubmit)="Ajout(f)">
          <div class="h1"><h1>Ajouter un Produit</h1></div>
            <div>
                <input type="file" name="file" id="file" class="inputfile"  (change)="uploadImage($event)"  >
                <label for="file">Image<br><img src="{{to}}"></label>
            </div>
            <div class="l">
                <label value="nom">Nom du produit</label><br>
                <input  type="texte" name="nom" class="n" required [(ngModel)]="nom">
            </div>
            <div class="l">
                <label value="nom">Nom de la catégorie</label><br>
                <input  type="texte" name="nom" class="n" required [(ngModel)]="c">
            </div>
            <div class="l">
              <span>Description</span><br>
                <textarea #textarea required>
                </textarea>
            </div>
            <div class="l">
                <label value="prix">Prix</label>
                <input  class="q" type="texte" name="prix" [(ngModel)]="prix">
  
                <label value="quantité">Quantité</label>
                <input class="q" type="texte" name="quantité">
            </div>
            <div class="button">
                <button type="">Créer le Produit</button>
            </div>
  
        </form>
    </div>
      </div>

     