<div class="t">

    <div class="i">
  
        <form #f="ngForm">
          <div class="h1"><h1>Ajouter un Produit</h1></div>
            <div>
                <input type="file" name="file" id="file" class="inputfile" />
                <label for="file">Image<br><img src="/Users/trini/Desktop/projet angular/picture.png"></label>
            </div>
            <div class="l">
                <label>Nom du produit</label><br>
                <input class="n" type="texte">
            </div>
            <div class="l">
              <span>Description</span><br>
                <textarea>
                </textarea>
            </div>
            <div class="l">
                <label>Prix</label>
                <input class="q" type="texte">
  
                <label>Quantité</label>
                <input class="q" type="texte">
            </div>
            <div class="button">
                <button>Créer le Produit</button>
            </div>
  
        </form>
    </div>
      </div>