/* You can add global styles to this file, and also import other style files */
@use './assets/scss/variables' as var;




@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//colors
$purple-color: #C8B2DA;
$background-grey: rgb(239, 239, 239, 0.42);

//primary font
$primary-font: 'Inter';

//font-weight
$regular: 400;
$bold: 700;

*{
    padding: 0;
    margin: 0;
    font-family:var.$primary-font;
    font-weight: var.$regular;
    font-size: 18px;
}

body{
    padding: 20px;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

