.cart-line{
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    border: 2px solid red;

    .left-side{
        img{
            width: 121px;
            height: 86px;

            border-radius: 17px;
        }
    }
}