
  <!-- Carrousel d'images -->
  <div class="slider">
    <img src="image1.jpg" alt="Pâtisserie 1">
    <img src="image2.jpg" alt="Pâtisserie 2">
    <img src="image3.jpg" alt="Pâtisserie 3">
  </div>
  
  <!-- Présentation de la pâtisserie -->
  <div class="about">
    <h2>À propos de notre pâtisserie</h2>
    <p>notre patisserie nananananannan.</p>
  </div>


  <!-- Menu -->
  <div class="menu">
    <h2>Notre menu</h2>
    <div class="menu-item">
      <h3>Tarte aux pommes</h3>
      <p>Description de la tarte aux pommes</p>
      <p class="price">Prix : 10€</p>
    </div>
    <div class="menu-item">
      <h3>Gâteau au chocolat</h3>
      <p>Description du gâteau au chocolat</p>
      <p class="price">Prix : 15€</p>
    </div>
    <div class="menu-item">
        <h3>Tarte aux fruits rouges</h3>
        <p>Description de la tarte aux fruits rouges</p>
        <p class="price">Prix : 14€</p>
      </div>
      <div class="menu-item">
        <h3>Gâteau à la vanille</h3>
        <p>Description du gâteau à la vanille</p>
        <p class="price">Prix : 13€</p>
      </div>
      <div class="menu-item">
        <h3>Tarte au citron</h3>
        <p>Description de la tarte au citron</p>
        <p class="price">Prix : 15€</p>
      </div>
      <div class="menu-item">
        <h3>Gâteau au chocolat blanc</h3>
        <p>Description du gâteau au chocolat blanc</p>
        <p class="price">Prix : 15€</p>
      </div>
     
   
  </div>
  
  <!-- Galerie d'images -->
  <div class="gallery">
    <img src="image4.jpg" alt="Pâtisserie 4">
    <img src="image5.jpg" alt="Pâtisserie 5">
    <img src="image6.jpg" alt="Pâtisserie 6">
  </div>
  
  <!-- Formulaire de contact -->
<div class="contact-form">
    <h2>Contactez-nous</h2>
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
      <label for="name">Nom</label><br>
      <input type="text" id="name" name="name" ngModel required><br>
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" ngModel required><br>
      <label for="message">Message</label><br>
      <textarea id="message" name="message" ngModel required></textarea><br>
      <button type="submit" [disabled]="form.invalid">Envoyer</button>
    </form>
  </div>
  
  <!-- Pied de page -->
  <footer>
    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="contact-info">
      <p>Tél. : </p>
      <p>Email : contact@patisserie.com</p>
    </div>
    <div class="newsletter">
      <form>
        <label for="email">Inscrivez-vous à notre newsletter</label><br>
        <input type="email" id="email" name="email">
        <button type="submit">S'inscrire</button>
      </form>
    </div>
  </footer>
  
