@use '../../../../assets/scss/variables' as var;

.detail{
    background-color: var.$background-grey;
    padding: 48px 32px;
    height: 600px;
    overflow-y: auto;
    border-radius: 17px;

    &-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 52px;

        &__title{
            font-weight: var.$bold;
        }
        &__total{
            font-weight: var.$bold;

            span{
                font-weight: var.$regular;
                font-size: 32px;
            }
        }
    }

    .container-info{
        display: flex;
        justify-content: space-between;
    }

    &-info{
        display: flex;
        align-items: center;
        background-color: white;
        padding: 32px 30px;
        border-radius: 17px;
        margin-bottom: 30px;
        max-height: 152px;
        width: 850px;

        &__image{
            height: 86px;
            width: 121px;
            margin-right: 30px;
        }
        &__quantity{
            font-weight: var.$bold;
            text-align: center;
            margin-right: 180px;
            
            span{
                color: var.$font-grey;
            }
        }
        &__name{
            font-weight: var.$bold;
            width: 180px;
        }
        &__price{
            color: var.$font-grey
        }
        &__price-product{
            font-weight: var.$bold;
        }
        &__main{
            margin-right: 180px;
        }
    }

    &-user{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        padding: 30px 30px;
        border-radius: 17px;
        margin-bottom: 30px;
        width: 504px;
        max-height: 195px;

        &__title{
            font-weight: var.$bold;
        }
        &__name, &__tel, &__email{
            color: var.$font-grey;
        }
    }

    &-actions{
        display: flex;
        justify-content: space-between;

        &__return, &__change-state{
            background-color: var.$purple-color;
            padding: 14px 34px;
            border-radius: 17px;
            color: white;
            font-weight: var.$bold;
            font-size: 16px;
        }
    }

    select{
        padding: 17px;
        border-radius: 17px;
        border-right: 16px solid transparent;
        margin-right: 20px;
    }
}