<div class="detail">
    <div class="detail-header">
        <h1 class="detail-header__title">Commande #{{orderId}}</h1>
        <h1 class="detail-header__total">Total: €{{productsOrder[0].price}}</h1>
    </div>
    <div class="detail-info" *ngFor="let ol of productsOrder">
        <img class="detail-info__image" src="{{ol.product.image}}">
        <p class="detail-info__name">{{ol.product.designation}}</p>
        <p class="detail-info__price">€{{ol.product.prixunitaire}}</p>
        <p class="detail-info__quantity-title">Quantité</p>
        <p class="detail-info__quantity">{{ol.quantity}}</p>
        <p class="detail-info__price-product">€{{ol.product.prixunitaire * ol.quantity}}</p>
    </div>
    <div class="detail-actions">
        <select name="state" [(ngModel)]="selectedOption">
            <option *ngFor="let option of options" [ngValue]="option" [selected]="option == 'Livrée'">{{option}}</option>
        </select>
        <button class="detail-actions__change-state" (click)="changeState(selectedOption || '')">Changer état</button>
        <button class="detail-actions__return" (click)="goBack()">Retour</button>
        <button class="detail-actions__cancel">Annuler Commande</button>
    </div>
</div>