<div>
    <div>
        <h1>Commande #{{orderId}}</h1>
        <h1>Total: €{{productsOrder[0].prixachat}}</h1>
    </div>
    <div *ngFor="let product of productsOrder">
        <img src="{{product.idProduit.image}}">
        <p>{{product.idProduit.designation}}</p>
        <p>€{{product.idProduit.prixunitaire}}</p>
        <p>Quantité</p>
        <p>{{product.quantite}}</p>
        <p>€{{product.idProduit.prixunitaire * product.quantite}}</p>
    </div>
    <div>
        <select name="state" id="state">
            <option value="en-cours">En cours</option>
            <option value="delivered">Livrée</option>
            <option value="cancel">Anulée</option>
        </select>
        <button>Changer état</button>
        <button (click)="goBack()">Retour</button>
        <button>Annuler Commande</button>
    </div>
</div>