button{
    width: 221px;
    height: 56px;

    border: 1px solid #C8B2DA;
    border-radius: 17px;
}

.fill{
    background: #C8B2DA;
    color: white;
}

.clear{
    background: white;
    color: #979797;}