.searchbar{
    width: 329px;
    height: 52px;

    background: #FFFFFF;
    border-radius: 61px;

    // background-image: url('/assets/icons/search.png');
    background-size: 25px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }