<form class="form-signin"  >
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    <div>

      <label for="floatingInput">id</label>
      <input  id="floatingId"  [(ngModel)]="id">

      <label for="floatingInput">Name</label>
      <input  id="floatingName"  [(ngModel)]="nom">

      <label for="floatingInput">Surname</label>
      <input  id="floatingSurname"  [(ngModel)]="prenom">

      <label for="floatingInput">email</label>
      <input  id="floatingemail"  [(ngModel)]="email">

      <label for="floatingInput">username</label>
      <input  id="floatingusername"  [(ngModel)]="username">

      <label for="floatingInput">password</label>
      <input  id="floatingpassword" type="password" [(ngModel)]="password">

      <label for="floatingInput">role</label>
      <input  id="floatingrole"  [(ngModel)]="role">
      
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      <br>
      <br>

    </div>

  
</form>