.body{

  background: rgba(239, 239, 239, 0.42);
  border-radius: 17px 17px 0px 0px;

  padding: 20px;

  .img-box{
    width: 60px;
    height: 60px;

    background: #C8B2DA;
    border-radius: 17px;

    padding: 15px;
  }

  .box{
    background: #FFFFFF;
    border-radius: 20px;
    width: 250px;
    height: 291px;
  }
}