<div class="body">
    <h1 class="font-bold m-5" >Clients</h1>

    <div class="grid grid-cols-4 gap-4 "  >
        <div class="box flex flex-col justify-center items-center" *ngFor="let Users of userList">
            <div class="img-box">
                <img src="../../../assets/icons/user.png" alt="">
            </div>

            <p class="p1 text-grey-600 ">ID #{{Users.idClient}} </p> <br/>
            <p class="p2 font-bold">{{Users.prenom}}  {{Users.nom}} </p><br/>
            <p>{{Users.email}} </p><br/>
            <p>+33 {{Users.tel}} </p>
        </div>

    
    </div>

</div>