<html>
    <head></head>
    <body >
        <div class="body">
            
            <h1>Clients</h1>

            <ul *ngFor="let Users of ListU" >
            <li>
                <div class="box">
                    <div class="image"><img src="../../../assets/icons/user.png" alt=""></div>

                    <p class="p1">ID #{{Users.id}} </p> <br/>
                    <p class="p2">{{Users.prenom}}  {{Users.nom}} </p><br/>
                    <p>{{Users.email}} </p><br/>
                    <p>+33 {{Users.tel}} </p>
                </div>
            </li>

            
            </ul>

        </div>

</body>
 </html>